doctype 5
html
  head
    title Open GSU
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    script(src='javascripts/lib/d3.v2.js')
    script(src='javascripts/lib/zepto.js')
    script(src='javascripts/lib/underscore.js')
    script(src='javascripts/lib/backbone.js')
    script(src='javascripts/application.js')
  body
    .container-fluid
      .row-fluid
        .span11.page-header
          h1.headline Open GSU
      .row
        #sidebar.span3
        #content.span9
          block content
    script#sidebar_template(type='text/html')
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href='#salaries') Salaries
        li
          a(href='#travel') Travel
        li
          a(href='#expenses') Expenses
    script#base_view(type='text/html')
      .btn-group
        a(href="#total", class='btn') Total
        a(href="#mean", class='btn') Mean
      .graph
